{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Django</title>
    <link rel="stylesheet" href="{% static 'myapp/main.css' %}">
</head>
<body>
    <div class="hello-container">
        <h1>Hello Django!</h1>
        <p>Welcome to your first styled Django page</p>
    </div>
    {% comment %} <div class="hello-container"> {% endcomment %}
        
        {% for i in students %}
            <h1>{{ i.name }}</h1>
            <h1>{{ i.age }}</h1>
        {% endfor %}
        
    {% comment %} </div> {% endcomment %}
</body>
</html>