{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!-- Hero Section -->
<section class=" text-start bg-dark h-100 w-100 py-5 d-flex align-items-center justify-content-center">
  <div class="container mx-auto my-auto align-items-center justify-content-center">
    <h1 class="display-4 fw-bold col-2">HELLO, I AM <span class="text-primary">CHANDRABHAN</span></h1>
    <p class="lead mb-4 display-4 fw-bold col-3 position-relative d-block pt-5">WEB_DESIGNER / FRONT_END / BACK_END </p>
    <div class="d-flex justify-content-start gap-3 py-5 my-5">
      <a href="" class="btn btn-primary btn-outline-light">MY PROJECTS</a>
    </div>
  </div>
{% endblock %}