{% load static %}
<header>
  <nav class="navbar navbar-expand-lg bg-transparent flex-lg-grow-0">
    <div class="container-fluid">
      <a class="navbar-brand fw-semibold" href="#">CHANDRABHAN</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end ms-auto"
        id="navbarNav"
      >
        <ul class="navbar-nav text-end">
          <li class="nav-item">
            <a class="nav-link active fw-semibold" aria-current="page" href="#"
              >HOME</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-semibold" href="/projects/"
              >PROJECTS</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link activ fw-semibold" href="#">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
